* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  color: red;
}
.netflix {
  margin: 35px;
  font-size: 2rem;
  font-weight: bold;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: red;
}

.netflix img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 75px;
  filter: brightness(1.2);
  transition: transform 0.3s ease-in-out;
  font-weight: bolder;
}
.nav-buttons {
  display: flex;
  margin-left: auto;
  margin-right: 75px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav-buttons button {
  color: inherit;
  background-color: red;
}

.background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("image/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}
.content {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 70px auto 200px auto;
  width: 50%;
}
.p1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.p2 {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.p3 {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.input-box {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  margin-top: 50px;
}
.center-button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
}
.hover img {
  height: 150px;
  width: 100px;
  border: 1px solid red;
  margin-top: 5px;
  height: 300px;
  width: 200px;
  border-radius: 10px;
    
}

.top-10 {
  list-style: none;
  display: flex;
  gap: 10px;
  background-color: black;
  position: relative;
  counter-reset: num-counter;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: none;
  padding: 40px;
  height: 300px;
}
.top-10 li {
  color: white;
  font: 2rem sans-serif;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;

  
}
:hover.hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.top-10 li:hover::before {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.top-10 li::before {
  counter-increment: num-counter;
  content: counter(num-counter);
  position: absolute;
  z-index: 10;
  font-size: 3rem;
  
  color: black;
  margin-top: 90px;
  left: 10px;
  top: 10px;
  font-weight: bold;
  
}
.h2 {
  background: #000;
  color: white;
}
.main3 {
  background-color: black;
  height: auto;
  width: 100%;
  color: white;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 50px;
}
.box {
  width: 25vw;
  height: 40vh;
  border: 5px solid blue;
  border-radius: 30px;
  color: white;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #0d21d2;
  padding: 10px;
}
.paras {
  margin-top: 10px;
}

.background-2 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: black;
  padding: auto;
  color: white;
  align-items: center;
}
.Frequently {
  margin-bottom: 50px;
  display: flex;
  justify-self: start;
  align-self: start;
  margin-left: 20px;
  cursor: pointer;
}
.ques {
  background-color: grey;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: larger;
}
.plus-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  margin: 10px;
}
.ans {
  margin-top: 1px;
  background-color: grey;
  width: 80vw;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ready{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  height: 50px;
  width: 100%;
  padding-top: 40px;
}

.input-box2{
  font-size: 1.5rem;
  
}
.center-button2{
 background-color: red;
  color: white;
  font-size: 1.5rem;
}
.input-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px;
  
}
.more-questions{
  color :white;
  background-color: black;
  font-size: larger;
  display: flex;
  padding-left: 20px;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.footer-navbar{
  background-color: black;
  color: white;
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 20px;
}

.footer-navbar a{
  color: white;
  text-decoration: none;
}

.center-button3{
  display: block;
  background-color: red;
  color: white;
  font-size: 1.5rem;
  margin-left: 20px;
}
.bg-color{
  background-color: black;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  color: white;
}

.copyright{
  color: white;
  background-color: black;
  font-size: larger;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}